@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles</h2>

@using (Html.BeginForm(actionName: "Index", controllerName: "Article", method: FormMethod.Get))
{
    <input type="text" name="SearchPhrase" placeholder="Insert search phrase" />
    <input type="submit" value="Search" />
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Message"]
    </div>
}

@foreach (Wikipedia_Clone.Models.Article article in ViewBag.Articles)
{
    @Html.Partial("ArticleInfo", article)
    @Html.ActionLink("View article", "Show", "Article", new { article.Id }, null)
}
<br />
<br />

@Html.ActionLink("Add article", "New", "Article", null, null)
