@model Wikipedia_Clone.Models.Article

<h2>Show</h2>

@Html.Partial("ArticleInfo", Model)

@using (Html.BeginForm(actionName: "Delete", controllerName: "Article"))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-default" type="submit">Delete article</button>
}

<br />

@Html.ActionLink("Back to articles", "Index", "Article", null, new { @class = "btn btn-default" })

