@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wikipedia_Clone.Models.Category

<h2>
    Categories
</h2>

@foreach (Wikipedia_Clone.Models.Category category in ViewBag.Categories)
{
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-heading article-title">
            <span class="article-underline">
                @category.CategoryTitle
            </span>
        </h2>
    </div>

    <div class="btn-group">
        @Html.ActionLink("Edit category ", "Edit", "Category", new { id = category.CategoryId }, new { @class = "btn btn-default" })
        @Html.ActionLink("View category ", "Show", "Category", new { id = category.CategoryId }, new { @class = "btn btn-default" })
        <br />
    </div>

</div>
}

<br />
@Html.ActionLink("Add new category", "New", "Category", null, new { @class = "btn btn-default btn-lg" })
<br />



