@model Wikipedia_Clone.Models.ApplicationUser

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-heading article-title">
            <span class="article-underline">
                @Model.UserName
            </span>
        </h2>
    </div>

    <div class="panel-body">
        @Model.Email
        Rolul userului????
    </div>

    @Html.ActionLink("Edit user", "Edit", "User", new { Model.Id }, new { @class = "btn btn-default" })

</div>
